{% extends 'proj/base.html' %}
{% load crispy_forms_tags %}

{% block body_content %}
    <div class="container pt-3">
        <div class="row justify-content-center">
            <form action="{% url 'add_observation' %}" method="POST">
                <div class="col-12">
                    {% crispy form %}
{#                    <div class="form-controls row justify-content-center m-3">#}
{#                        <input type="submit" value="Submit">#}
{#                    </div>#}
                </div>

            </form>

        </div>
    </div>
{% endblock %}